.SideBar {
    
    display: flex;
    flex-flow: column;

    align-items: center;

    float: right;
    
    box-shadow: 5px 5px 2.5px lightblue;
    background-color: whitesmoke;

    border: solid black 5px;

    width: 20%;
    margin: 2% 2% 2% 0;
    
}

.sidebar__heading {

    padding: 4% 0 0 0;

}