.header {
    
    display: flex;
    flex-direction: row;
    height: 15vh;
    align-items: center;
    box-shadow: 5px 5px 2.5px lightblue;
    background-color: whitesmoke;
    /* width: 100vh; */

}

.header > *{
    margin: 0.5% 0 0.5% 0;
}

.logo {
    display:flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 0 0 0 5%;
}

.logo img {
    width: 40px;
    height: 30px;
    margin: 10px;
}



.logo h1 {
    color: red;
  
}

